# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.UniGameJamSpring2021.iml
# Datasource local storage ignored files
/../../../../../../../../:\Study\Unreal Projects\Jammy\UDoGameJamSpring2021\.idea\.idea.UniGameJamSpring2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
